<% if current_user %>
  <% content_for :header do %>
  Dashboard
  <% end %>
<section>
<h3>Backup server information</h3>
<%= render_cell :backup_servers, :status %>
</section>
<section>
<h3>Now running</h3>
<%= render_cell :backup_jobs, :running %>
</section>

<section>
<h3>Queued Backups</h3>
<%= render_cell :backup_jobs, :queued %>
</section>

<section>
<h3>Latest fails</h3>
<%= render_cell :backup_jobs, :problems %>

<% else %>
  <% content_for :header do %>
    Log in
  <% end %>
  <%= render_cell :login, :login %>
<% end %>
</section>