<% if current_user %>
  <% content_for :header do %>
  Dashboard
  <% end %>
<h3>Backup server information</h3>
<%= render_cell :backup_servers, :status %>
<hr/>
<h3>Now running</h3>
<%= render_cell :backup_jobs, :running %>
<hr/>

<h3>Queued Backups</h3>
<%= render_cell :backup_jobs, :queued %>
<hr/>

<h3>Latest fails</h3>
<%= render_cell :backup_jobs, :problems %>

<% else %>
  <% content_for :header do %>
    Log in
  <% end %>
  <%= render_cell :login, :login %>
<% end %>
