<% if current_user %>
  <% content_for :header do %>
  Dashboard
  <% end %>
<section>
<h3>Backup server information</h3>
<%= render :partial => 'backup_servers/dashboard' %>
</section>
<section>
<h3>Now running</h3>
<%= render :partial => 'backup_jobs/dashboard_running' %>
</section>

<section>
<h3>Queued Backups</h3>
<%= render :partial => 'backup_jobs/dashboard_queued' %>
</section>

<section>
<h3>Latest fails</h3>
<%= render :partial => 'backup_jobs/dashboard_failed' %>

<% else %>
  <% content_for :header do %>
    Log in
  <% end %>
  <%= render_cell :login, :login %>
<% end %>
</section>