<table class="index sortable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Used by</th>
    <th>Excludes</th>
    <th>Includes</th>
    <th>Splits</th>
  </tr>
  </thead>
  <tbody>
<% @profiles.each do |profile| %>
  <tr>
    <td><%= link_to h(profile.name), profile %></td>
    <td><%= profile.servers.count %></td>
    <td><%= profile.excludes.size %></td>
    <td><%= profile.includes.size %></td>
    <td><%= profile.splits.size %></td>
    <td>
      <% if can?(:manage, profile) %>
        <%= link_to 'Edit', edit_profile_path(profile) %> | 
        <%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>