<% content_for :header do %>
  <%=h @profile.name %>
<% end %>
<% add_action 'Add', new_profile_path %>
<% add_action 'Edit', edit_profile_path(@profile) %>

<section>
<h3>General info</h3>

<p>
These are the settings of the <b><%=h @profile.name %></b> profile. Using profiles you can finetune the backup process using predefined settings.
</p>
</section>

<%= render :partial => 'profiles/excludes' %>
<%= render :partial => 'profiles/includes' %>
<%= render :partial => 'profiles/splits' %>
