<% content_for :header do %>
  Profile <%=h @profile.name %>
<% end %>
<h2>General info</h2>

<p>
These are the settings of the <b><%=h @profile.name %></b> profile. Using profiles you can finetune the backup process using predefined settings.
</p>

</p>
<p class="hide_js">Use the buttons below to finetune this profile</p><p><button class="hide_js" id="toggle_excludes">Excludes</button>
<button class="hide_js" id="toggle_includes">Includes</button>
<!--<button class="hide_js" id="toggle_splits">Splits</button> --></p>

<div id="excludes">
<h2>Excludes</h2>
<p>The following directories will be excluded from the backups. Wildcards are allowed.</p>
<ul>
  <% @profile.excludes.each do | exclude | %>
    <li><%=h exclude.path %> (<%= link_to 'Edit', edit_profile_exclude_path(@profile, exclude) %> | <%= link_to 'Destroy', [@profile, exclude], :confirm => 'Are you sure?', :method => :delete %>)</li>
  <% end %>
</ul>
<h3>Add exclude</h3>
<% @exclude = @profile.excludes.build %>
<%= render :partial => 'excludes/form' %>
</div>

<div id="includes">
<h2>Includes</h2>
<p>The following directories will be included in the backups, even if there is a matching exclude rule. Wildcards are allowed.</p>
<ul>
  <% @profile.includes.each do | include | %>
    <li><%=h include.path %> (<%= link_to 'Edit', edit_profile_include_path(@profile, include) %> | <%= link_to 'Destroy', [@profile, include], :confirm => 'Are you sure?', :method => :delete %>)</li>
  <% end %>
</ul>
<h3>Add include</h3>
<% @include = @profile.includes.build %>
<%= render :partial => 'includes/form' %>
</div>

<% add_action 'Edit this profile', edit_profile_path(@profile) %>
<% add_action 'All profiles', profiles_path %>
<% add_action 'Create new profile', new_profile_path %>