<% if @running.size > 0 %>
  <p>Now running: <%= @running.size %> backup jobs</p>
  <table class="index sortable">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Server</th>
      <th>Backup Server</th>
      <th>Started</th>
      <th>Run time</th>
    </tr>
    </thead>
    <tbody>
  <% @running.each do |job| %>
    <tr>
      <td><%=link_to h(job.id), job %></td>
      <td><%=link_to h(job.server), job.server %></td>
      <td><%=link_to h(job.backup_server), job.backup_server %></td>
      <td><%=(job.started || job.updated_at) %></td>
      <td><%=display_backup_duration(job) %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% else %>
<p>Nothing at all! I guess all backup servers are slacking their ass off...</p>
<% end %>
