<% content_for :header do %>
  Backup job <%=h @backup_job.id %>
<% end %>

<p>
  <b>Backup server:</b>
  <%=link_to h(@backup_job.backup_server), @backup_job.backup_server %>
</p>

<p>
  <b>Server:</b>
  <%=link_to h(@backup_job.server), @backup_job.server %>
</p>

<p>
  <b>Status:</b>
  <%=h @backup_job.status %>
</p>

<h2>Commands and results</h2>
<table class="index">
  <tr>
	<th>When</th>
	<th>Command</th>
	<th>Exit status</th>
	<th>Output</th>
	<th>Label</th>
  </tr>
<% @backup_job.commands.each do | command | %>
  <tr>
	<td><%= command.created_at %></td>
	<td><%= h command.command %></td>
	<td><%= h command.exitstatus %></td>
	<td><%= h command.output %></th>
	<td><%= h command.label %></th>
  </tr>
<% end %>
</table>