<% semantic_form_for(@server) do |f| %>
  <% f.inputs do %>
    <% f.inputs :name => "General", :class => 'separator' do %>
      <%= f.input :hostname %>
      <%= f.input :enabled, :required => false, :label => 'Backups enabled?' %>
      <%= f.input :remove_only, :required => false, :label => 'Dont backup, just remove snapshots' %>
      <%= f.input :connect_to, :required => false, :label => 'Ssh address', :hint => 'If different from hostname' %>
      <%= f.input :ssh_port, :required => true, :hint => 'Probably port 22' %>
      <%= f.input :path, :required => true, :hint => 'Probably /', :label => 'Rsync start path' %>
    <% end %>
    <% f.inputs :name => "Backup config", :class => 'separator' do %>
      <%= f.input :interval_hours, :required => true %>
      <%= f.input :keep_snapshots, :required => true, :label => 'Keep this number of snapshots' %>
      <%= f.input :window_start, :required => false, :hint => 'Integer 0-23. Window starts at 0:00 when empty.' %>
      <%= f.input :window_stop, :required => false, :hint => 'Integer 0-23. Window ends at 23:59 when empty.' %>
      <%= f.input :profiles, :collection => Profile.public.find(:all, :order => 'name ASC'), :as => :check_boxes, :required => false %><br/>
      <%= f.input :backup_server, :hint => "When moving to another backup server the backup data will currently not be moved!", 
                                  :include_blank => (@server.backup_server.nil? ? true : false )%>
      <%= f.input :user, :hint => "Visible to this customer", :as => :select, :collection => Role.find_by_name('user').users, :include_blank => true %>
    <% end %>
  <% end %>
  <button type='submit'>Save</button>
<% end %>
