<% content_for :header do %>
   Server overview
<% end %>

<table class="index">
  <tr>
    <th>Hostname</th>
    <th>Last backup</th>
    <th>Last backup result</th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%=link_to h(server.hostname), server %></td>
    <td><%=h server.last_backup || "None" %></td>
    <td><%=h (server.last_backup ? server.backup_jobs.last.status : 'Nothing yet') %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %> | 
    <%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% add_action 'Add Server', new_server_path %>

