<% content_for :header do %>
  <%=h @server.hostname %>
<% end %>
<% add_action 'Edit', edit_server_path( @server) %>
<% add_action 'Add', new_server_path %>
<section>
<table class="index sortable">
<thead>
  <tr>
  <td>Ssh address</td>
  <td>Ssh port</td>
  <td>Enabled</td>
  <td>Backup server</td>
  <td>Disk usage</td>
  </tr>
</thead>
<tbody>
<tr>
  <td><%=h (@server.connect_address) %></td>
  <td><%=h (@server.ssh_port || 22 ) %></td>
  <td><%=h @server.enabled %></td>
  <td><%=h @server.backup_server %></td>
  <td><%=number_to_human_size @server.usage || 'NaN '%></td>
</tr>
</tbody>
</table>

<table class="index sortable">
<thead>
  <tr>
  <td>Rsync start path</td>
  <td>Snapshots to keep</td>
  <td>Backup interval</td>
  <td>Start of queuing window</td>
  <td>End of queuing window</td>
  </tr>
</thead>
<tbody>
<tr>
  <td><%=h @server.path || '/' %></td>
  <td><%=h @server.keep_snapshots %></td>
  <td><%=h @server.interval_hours %></td>
  <td><%=h @server.window_start %></td>
  <td><%=h @server.window_stop %></td>
</tr>
</tbody>
</table>

<% if !@server.last_backup %>
  <b>Backup never performed!</b>
<% elsif @server.backup_running? %>
  <b>Backup running since:</b>
  <%=h @server.last_started %>
<% else %>
  <b>Backup last finished:</b>
  <%=h @server.last_backup %>
<% end %>
<% unless @server.backup_running? %>
	<% form_for(@server.backup_jobs.build(:backup_server => @server.backup_server, :status => 'queued')) do |f| %>
	    <%= f.hidden_field :backup_server_id %>
	    <%= f.hidden_field :server_id %>
	    <%= f.hidden_field :status %>
	  <%= f.submit "Queue now" %>
	<% end %>
<% end %>
</section>

<% @job = BackupJob.new(:server => @server, :backup_server => @server.backup_server ) %>

<% if @server.current_snapshots.size > 0 %>
<section>
<h3>Known snapshots</h3>
<table class="index sortable">
<thead>
<tr>
  <th>Name</th>
  <th>When</th>
  <th>Path on backup server</th>
</tr>
</thead>
<tbody>
<% @server.current_snapshots.each do | snapshot | %>
<tr>
	<td><%= snapshot %></td>
	<td><%= Time.at snapshot.to_i %></td>
	<td>/<%= @job.fs %>/.zfs/snapshot/<%= snapshot %></td>
</t>
<% end %>
</tbody>
</table>
</section>
<% end %> 

<section>
<h3>Applied profiles</h3>
<ul class="profile_list">
<% @server.profiles.each do | profile | %>
  <li><%= link_to h(profile.name), profile %></li>
<% end %>
</ul>

<% if @server.backup_server %>
  <% @job = BackupJob.new(:server => @server, :backup_server => @server.backup_server ) %>
  <p>This resolves to the following rsync command:<br/> <%= @job.main_rsync %></p>
<% end %>
</section>

<% if @server.problems.size > 0 %>
  <section>

<h3>Latest problems</h3>
<table class="index sortable">
<thead>
<tr>
  <th>Backup Server</th>
  <th>When</th>
  <th>Message</th>
</tr>
</thead>
<tbody>
<% @server.latest_problems.each do | problem | %>
  <tr>
    <td><%=h problem.backup_server %></td>
    <td><%= problem.created_at %></td>
    <td><%=h problem.message %></td>
  </tr>
<% end %>
</tbody>
</table>
</section>
<% end %>

<% if @server.backup_jobs.size > 0 %>
<section>
<h3>Latest backup jobs</h3>
<table class="index sortable">
  <thead>
  <tr>
	<th>Job</th>
    <th>Backup server</th>
    <th>Status</th>
    <th>Job created</th>
    <th>Started</th>
    <th>Duration (from the moment of queueing)</th>
  </tr>
  </thead>
  <tbody>
<% @server.latest_jobs.each do | job | %>
  <tr>
	<td><%= link_to job.id, job %></td>
    <td><%= h job.backup_server %></td>
    <td><%=h job.display_status %></td>
    <td><%=h job.created_at %></td>
    <td><%=h (job.started || job.updated_at) %></td>
    <td><%= display_backup_duration (job) %></td>
  </tr>
<% end %>
  </tbody>
</table>
</section>
<% end %>