<% content_for :header do %>
  <%=h @server.hostname %>
<% end %>
<h2>Generic information</h2>
<p>
  <dt>Hostname:</dt>
  <dd><%=h @server.hostname %></dd>

  <dt>Ssh address:</dt>
  <dd><%=h (@server.connect_address) %></dd>

  <dt>Ssh port:</dt>
  <dd><%=h (@server.ssh_port) %></dd>

  <dt>Enabled:</dt>
  <dd><%=h @server.enabled %></dd>
</p>

<p>
<% if !@server.last_backup %>
  <b>Backup never performed!</b>
<% elsif @server.backup_running? %>
  <b>Backup running since:</b>
  <%=h @server.last_started %>
<% else %>
  <b>Backup last finished:</b>
  <%=h @server.last_backup %>
<% end %>
</p>

<p>
Here we will describe in english how the backup configuration will apply. TODO
</p>


<h2>Applied profiles</h2>
<ul class="profile_list">
<% @server.profiles.each do | profile | %>
  <li><%= link_to h(profile.name), profile %></li>
<% end %>
</ul>
<% add_action 'Edit this server', edit_server_path( @server) %>
<% add_action 'Add Server', new_server_path %>
<% add_action 'Servers overview', servers_path %>

<h2>Latest problems</h2>
<% @server.latest_problems.each do | problem | %>
  <dt><%= problem.created_at %></dt>
  <dd><%=h problem.backup_server %>: <%=h problem.message %></dd>
<% end %>
