<% content_for :header do %>
  <%=h @server.hostname %>
<% end %>
<h2>General info</h2>
<p>
  <dt>Hostname:</dt>
  <dd><%=h @server.hostname %></dd>

  <dt>Ssh address:</dt>
  <dd><%=h (@server.connect_address) %></dd>

  <dt>Ssh port:</dt>
  <dd><%=h (@server.ssh_port) %></dd>

  <dt>Enabled:</dt>
  <dd><%=h @server.enabled %></dd>

  <dt>Backup server:</dt>
  <dd><%=h @server.backup_server %></dd>

  <dt>Disk usage:</dt>
  <dd><%=number_to_human_size @server.usage || 'NaN '%></dd>
</p>

<p>
<% if !@server.last_backup %>
  <b>Backup never performed!</b>
<% elsif @server.backup_running? %>
  <b>Backup running since:</b>
  <%=h @server.last_started %>
<% else %>
  <b>Backup last finished:</b>
  <%=h @server.last_backup %>
<% end %>
<% unless @server.backup_running? %>
	<% form_for(@server.backup_jobs.build(:backup_server => @server.backup_server, :status => 'queued')) do |f| %>
	    <%= f.hidden_field :backup_server_id %>
	    <%= f.hidden_field :server_id %>
	    <%= f.hidden_field :status %>
	  <%= f.submit "Queue now" %>
	<% end %>
<% end %>
</p>

<% @job = BackupJob.new(:server => @server, :backup_server => @server.backup_server ) %>

<h2>Known snapshots</h2>
<table class="index">
<tr>
  <th>Name</th>
  <th>When</th>
  <th>Path on backup server</th>
</tr>
<% @server.current_snapshots.each do | snapshot | %>
<tr>
	<td><%= snapshot %></td>
	<td><%= Time.at snapshot.to_i %></td>
	<td>/<%= @job.fs %>/.zfs/snapshots/<%= snapshot %></td>
</t>
<% end %>
</table>

<h2>Applied profiles</h2>
<ul class="profile_list">
<% @server.profiles.each do | profile | %>
  <li><%= link_to h(profile.name), profile %></li>
<% end %>
</ul>

<% if @server.backup_server %>
  <% @job = BackupJob.new(:server => @server, :backup_server => @server.backup_server ) %>
  <p>This resolves to the following rsync command:<br/> <%= @job.to_rsync %></p>
<% end %>
<% add_action 'Edit this server', edit_server_path( @server) %>
<% add_action 'Add Server', new_server_path %>
<% add_action 'Servers overview', servers_path %>

<h2>Latest problems</h2>
<table class="index">
<tr>
  <th>Backup Server</th>
  <th>When</th>
  <th>Message</th>
</tr>
<% @server.latest_problems.each do | problem | %>
  <tr>
    <td><%=h problem.backup_server %></td>
    <td><%= problem.created_at %></td>
    <td><%=h problem.message %></td>
  </tr>
<% end %>
</table>

<h2>Latest backup jobs</h2>
<table class="index">
  <tr>
	<th>Job</th>
    <th>Backup server</th>
    <th>Status</th>
    <th>Job created</th>
    <th>Last updated</th>
    <th>Duration (from the moment of queueing)</th>
  </tr>
<% @server.latest_jobs.each do | job | %>
  <tr>
	<td><%= link_to job.id, job %></td>
    <td><%= h job.backup_server %></td>
    <td><%=h job.status %></td>
    <td><%=h job.created_at %></td>
    <td><%=h job.updated_at %></td>
    <td><%= display_backup_duration (job) %></td>
  </tr>
<% end %>
</table>
