<% content_for :header do %>
  <%= @backup_server.hostname %>
<% end %>

<h2>General info</h2>

<p>
  <b>Hostname:</b>
  <%=h @backup_server.hostname %>
</p>

<p>
  <b>Zpool:</b>
  <%=h @backup_server.zpool %>
</p>
<p>
  <b>Max backups:</b>
  <%=h @backup_server.max_backups %>
</p>

<h2>Latest backup jobs</h2>
<table class="index">
  <tr>
    <th>Server</th>
    <th>Status</th>
    <th>Job created</th>
    <th>Last updated</th>
    <th>Duration (from the moment of queueing)</th>
  </tr>
<% @backup_server.latest_jobs.each do | job | %>
  <tr>
    <td><%=link_to h(job.server.hostname), job.server %></td>
    <td><%=h job.status %></td>
    <td><%=h job.created_at %></td>
    <td><%=h job.updated_at %></td>
    <td><%= distance_of_time_in_words(job.created_at, job.updated_at )%>
  </tr>
<% end %>
</table>

<h2>Latest problems</h2>
<table class="index">
<tr>
  <th>Server</th>
  <th>When</th>
  <th>Message</th>
</tr>
<% @backup_server.latest_problems.each do | problem | %>
  <tr>
    <td><%=h problem.server %></td>
    <td><%= problem.created_at %></td>
    <td><%=h problem.message %></td>
  </tr>
<% end %>
</table>

<% add_action 'Edit this backup server', edit_backup_server_path(@backup_server) %>
<% add_action 'Backup server overview', backup_servers_path %>