<% content_for :header do %>
  <%= @backup_server.hostname %>
<% end %>
<% add_action 'Edit', edit_backup_server_path(@backup_server) if can?(:manage, @backup_server)%>
<section>
<h3>General info</h3>
<table class="index sortable">
<thead>
  <tr>
    <td>Zpool</td>
    <td>Max concurrent backups</td>
    <td>Disk free</td>
    <td>Number of servers</td>
    <td>Running backups</td>
  </tr>
</thead>
<tbody>
<tr>
  <td><%=h @backup_server.zpool %></td>
  <td><%=h @backup_server.max_backups %></td>
  <td><%= @backup_server.disk_free %></td>
  <td><%= @backup_server.servers.count %></td>
  <td><%= @backup_server.running_backups.count %></td>
</tr>
</tbody>
</table>
</section>

<% if @backup_server.backup_jobs.size > 0 %>
<section>
<h3>Latest backup jobs</h3>
<table class="index sortable">
  <thead>
  <tr>
	<th>Job</th>
    <th>Server</th>
    <th>Status</th>
    <th>Started</th>
    <th>Duration (from the moment of queueing)</th>
  </tr>
  </thead>
  <tbody>
<% @backup_server.latest_jobs.select{|j| can? :read, j}.each do | job | %>
  <tr>
	<td><%= link_to job.id, job %></td>
    <td><%=link_to h(job.server.hostname), job.server %></td>
    <td><%=job.display_status %></td>
    <td><%=(job.started || job.updated_at) %></td>
    <td><%=display_backup_duration(job)%></td>
    <% if job.status == 'running' %>
      <td><%= link_to 'Redo last command', redo_path(job), :confirm => 'This will remove the last command from the database so it will be performed again. Only use if you know for sure it is finished on the backup server!' %></td>
    <% end %>
  </tr>
  </tbody>
<% end %>
</table>
</section>
<% end %>

<% if @backup_server.problems.size > 0 %>
<section>
<h3>Latest problems</h3>
<table class="index sortable">
<thead>
<tr>
  <th>Server</th>
  <th>When</th>
  <th>Message</th>
</tr>
</thead>
<tbody>
<% @backup_server.latest_problems.select{|p| can? :read, p}.each do | problem | %>
  <tr>
    <td><%=h problem.server %></td>
    <td><%= problem.created_at %></td>
    <td><%=h problem.message %></td>
  </tr>
<% end %>
</tbody>
</table>
</section>
<% end %>
