<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Retcon: <%= yield_or_default yield(:header) %> </title>
	  <%= javascript_include_tag "top_up-min.js" %>
	  <%= javascript_include_tag "jquery.quicksearch" %>
	  <%= javascript_include_tag "jquery.tablesorter.min" %>
	  <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'screen', 'formtastic', 'formtastic_changes' %>
</head>

<body>

  <div id="header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>
    <h1><%= link_to ('Retcon <span>blast from the past</span>', root_path) %></h1>

    <div id="tabs">
      <%= render :partial => 'shared/tabs' %>
    </div>
  </div>

  <div id="main">

    <div id="left">
    <% flash.keys.each do | key | %>
       <div id="<%= key %>"><%= flash[key] %></div>
    <% end %>
    
      <h2 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h2>

      <div id="screen">
        <%= yield %>
      </div>
    </div>
    <div id="right">
      <% build_action_list %>
      <%= yield_or_default(yield(:sidebar)) %>
      <%= render :partial => 'shared/sidebar_links'%>
    </div>
  </div>
  <div id="footer">
    <a href="http://github.com/wijnand/retcon-web">Retcon project</a>
  </div>


</body>
</html>
