<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Retcon: <%= yield_or_default yield(:header) %> </title>
    <%= stylesheet_link_tag 'screen', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag "top_up-min.js?images_path=/images/top_up/&dummy_var=", "jquery.quicksearch",  "jquery.tablesorter.min", "application" %>
</head>

<body>

  <header class="site_header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>
    <h1><%= link_to('Retcon <span>blast from the past</span>', root_path) %></h1>

    <nav>
      <%= render :partial => 'shared/tabs' %>
    </nav>
  </header>

  <% flash.keys.each do | key | %>
    <div id="<%= key %>"><%= flash[key] %></div>
  <% end %>

    <header class="secondary">
      <% build_action_list %>
      <ul id="display-inline-block">
        <li class="lineitem">
          <h1><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h1>
        </li>
        <li class="lineitem right">
          <%= yield(:search) %><%= yield(:sidebar) %>
        </li>
      </ul>
    </header>

    <article id="main">
        <%= yield %>
    </article>

  <footer>
      <ul>
        <li><a href="http://github.com/wijnand/retcon-web">Retcon project</a></li>
        <li><a href="http://github.com/wijnand/retcon-web/issues">Issue tracker</a></li>
      </ul>
  </footer>


</body>
</html>
